body {
    height: 100vh auto;
    width: 100vw auto;
    background-color: #F8FAFC ;
}

nav {
    width: 100%;
    border-bottom: 2px solid #E2E8F0;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    background-color: #FFF;
}

.nav-img {
   width: 40px;
   height: 40px;
    margin-left: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-img > img {
   width: 70%;
   object-fit: cover;
}

.nav-title {
    font-family: "Inter";
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 10px;
}

section {
    margin-top: 40px;
    border: 2px solid #E2E8F0;
    border-radius: 20px;
    padding: 30px 30px 0px 30px;
    background-color: #FFF;
    width: 60%;
    height: 650px;
}

.section-title {
    font-family: "Inter";
    font-size: 22px;
    font-weight: bolder;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}


.filter-title {
    font-family: "Inter";
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
}

aside {
    margin-left: 30px;
    margin-top: 40px;
    border: 2px solid #E2E8F0;
    border-radius: 20px;
    padding: 30px;
    background-color: #FFF;
    width: 32%;
    height: 650px;
    display: flex;
    flex-direction: column;

}
menu {
    height: auto;
    display: flex;
    padding: 0px 40px;
}

.header-aside {
    margin-top: 4px;

}
.aside-title {
    font-family: "Inter";
    font-size: 22px;
    font-weight: bolder;
}

.aside-paragraph {
    font-family: "Inter";
    font-size: 18px;
    font-weight: medium;
    margin-top: 16px;
    color: #64748B;
}

hr {
    background: #E2E8F0;
    height: 2px;
    border: none;
    margin-top: 40px;
    margin-right: -30px;
    margin-left: -30px;
}
.aside-subparagraph {
    font-family: "Inter";
    font-size:18px;
    font-weight: bold;
    margin-top: 35px;
    
}

.input-aside {
    background-color: #f3f3f3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding:18px;
    margin-top: 10px;
    border: none;
    font-size: 20px;
}

.input-aside::placeholder {
    font-family: "Inter";
    font-size:20px;
    font-weight: medium;
    color: #8ca2c0;
}

.button-add {
    background-color: #2563EB;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: none;
    color: #FFF;
    font-weight: bolder;
}

.button-img {
    margin-right: 10px;
}

.aside-clean {
    font-family: "Inter";
    font-size:18px;
    font-weight: bolder;
    color: #8ca2c0;
    text-align: center;
    margin-top: 30px;
    border: none;
    background-color: #FFF;
}

.table-contact {
    margin: 40px -30px 0px -30px;
    overflow-x: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    background-color: #f3f3f3 ;
    padding: 20px 30px;
    border-top: 2px solid #E2E8F0;
}

td {
    font-family: "Inter";
    font-size:18px;
    font-weight: normal;
    color: #415579;
    padding: 35px 30px;
    border-bottom: 2px solid #E2E8F0;
}

th , td {
    text-align: left;
}

.table-img {
    display: flex;
    gap: 10px;
}

.table-img > button  {
    border: none;
    background-color: #FFF;
}

tr > th {
    font-family: "Inter";
    font-size:18px;
    font-weight: bold;
    color: #415579;
}

.list-section {
  display: flex;
  justify-content: space-between;
}

.name-list {
    font-family: "Inter";
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.img-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navigation-section {
    display: flex;
    justify-content: space-between;
    height: 100%;
    
}